# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Data (will be mounted as volume)
data/uploads/*
data/fits/*
data/cache/*

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Documentation
*.md
!README.md

# Tests
app/tests/
test.ipynb

# Misc
.env
.env.local
workflow.drawio
.$workflow.drawio.bkp
.nicegui/


